.head{
    height: auto;
}
.ent{
    font-size: 20px;
    margin-bottom: 2px;
}

.form2{
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    display: block
}
.form1{
   display: none;
}
.btn{
    height: auto;
    padding: 10px;
}
.arr{
    display: none;
}
.sel2{
    font-size: 15px;
   
}
img{
    width: 25%;
    height: 40%;
}
.change{
    font-size: 28px;
    color: #675afe;
    font-size: 20px;
}